$fa-font-path: '../webfonts';

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.382);
}


// Titillium Font

.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .titillium-web-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .titillium-web-black {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .titillium-web-extralight-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .titillium-web-light-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .titillium-web-regular-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .titillium-web-semibold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .titillium-web-bold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
// Amatic font

.amatic-sc-regular {
    font-family: "Amatic SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.bubble-text-area {
    height: 500px;
    width: 460px;
}